/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header a {
	text-decoration: none;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, header a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;	
}

#introduction img, #introduction figcaption, .projet-modifier img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction figcaption {
	display: flex;
	margin-top: 13px;
}

.pen-modifier {
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}

.pen-modifier-a {
	margin-left: 11px;
	margin-bottom: 0;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.filtres_gallery{
	display: flex;
	justify-content: center;
}

.filtres_gallery button {
	border-radius: 60px;
	font-size: 16px;
	padding: 9px 20px;
	margin: 50px 5px;
	color: #1D6154;
	background-color: #FFF;
	border-color: #1D6154;
}

.filtres_gallery button:hover {
	background-color: #1D6154;
	color: #FFF;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], #ajouter-photo-modal{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*login*/

.header-login {
	margin-bottom: 120px;
}

.main h2 {
	margin-bottom: 30px;
}

.main, .formulaire-login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.div-email, .div-password {
	display: flex;
	flex-direction: column;
	width: 379px;
	gap: 10px;
}

.div-email input, .div-password input {
	font-size: 1.2em;
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.se-connecter {
	padding: 10px 38px;
}

.formulaire-login a {
	color: black;
}

.liens, .liens-modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*modal*/ 

.modal {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-gallery {
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #FFF;
	width: 630px;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 80px);
	padding: 32px 35px 48px;
	border-radius: 10px;	
}

*:focus {
	box-shadow: 0 0 5px blue;
}

.projet-modifier {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

#introduction .pen-modifier-a  {
	margin-bottom: 0;
}

.projet-modifier .pen-modifier {
	margin-left: 31px;
}

.modal-icone {
	display: flex;
	height: 15px;
	align-items: center;
	background-color: #FFF;
	border: none;
	margin-bottom: 16px;
}

.modal-icone button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.modal-icone button:first-child {
	margin-right: auto;
}

.modal-icone button:nth-child(2) {
	margin-left: auto;
}

.modal-icone i {
	transform: scale(1.2);
}

#ajouter-photo-modal {
	white-space: nowrap;
	margin: 38px auto 0;
	padding: 10px 49px 9px;
	display: flex;
	justify-content: center;
	font-size: .88rem;
}

.title-modal {
	text-align: center;
	font-size: 1.63rem;
	margin-bottom: 46px;
}

#mes-projets h2 {
	margin-bottom: 0;
}

#supprimer {
	display: flex;
	justify-content: center;
	margin-top: 23px;
}

.miniature {
	display: flex;
	flex-wrap: wrap;
	column-gap: 6px;
	margin: 0 70px;
}

.miniature figure {
	position: relative;
}

.miniature figcaption {
	margin-bottom: 11px;
}

.border {
	height: 1px;
	width: 420px;
	background-color: #B3B3B3;
	margin-top: 47px;
}

.image-gallery-modal {
	width: 78px;
	object-fit: fill;
}

.poubelle-button {
	position: absolute;
	top: 6px;
	right: 5.2px;
	padding: 0;
	height: 17px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.poubelle-modal {
	padding: 4px;
	border-radius: 2px;
	background-color: black;
}



@keyframes fadeIn {
	
}

/*admin session*/

.bandeau-admin {
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bandeau-admin span {
	font-size: 1rem;
	color: #FFF;
}

.bandeau-admin button {
	font-size: .88rem;
	margin-left: 21px;
	padding: 11px 23px;
	border-radius: 60px;
}

/* formulaire d'envoi photo */

.form-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.fieldset-modal {
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 169px;
	background-color:#E8F1F6;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.fieldset-modal i {
	transform: scale(3.5);
	color: #CBD6DC;
	margin-top: 3em;
	margin-bottom: 2.5em;
}

.fieldset-modal input {
	background-color:#CBD6DC;
	margin-bottom: 21px;
}

.fieldset-modal span {
	margin-bottom: 2em;
	font-size: .63rem;
}

.form-modal > input {
	height: 51px;
}

.input-title-modal {
	margin-bottom: 21px;
}

.modal .se-connecter {
	background-color: #A7A7A7;
	width: 237px;
	height: 36px;
	border: none;
	font-size: .9rem;
	margin-bottom: 5px;
}

.label-modal {
	margin-bottom: 10px;
	font-size: 1rem;
}